$color-primary: #0C8FAD;
$color-secondary: #7BC1B7;
$color-primary-darker: #09728A;
$color-secondary-darker: #629A92;
$color-aux: #0B87B4;

$color-success: #00D989;
$color-error: #D90050;
$color-warning: #F5D300;

$color-silver: #EEEEEE;
$color-gray: #DDDDDD;