<header class="p-4 md:py-8 bg-secondaryDarker w-full flex justify-between items-center">
    <div class="text-center md:text-left">
        <p class="text-4xl text-gray-200 font-bold leading-normal">RaxMed<span class="text-yellow-400 underline">Registro</span></p>
    </div>
    <!-- Navbar -->
    <nav class="">
        <ul class="hidden md:flex justify-evenly">
            <!-- EJEMPLO DE MENU DESPLEGABLE -->
            <li id="li-catalogos" class="px-4 py-2 font-semibold text-white list-none">
                <a class="px-4 py-2 text-lg font-semibold text-white hover:bg-secondaryDarker2">Catálogos</a>
                <ul id="menu-catalogos" class="p-2 bg-secondaryDarker border-secondaryDarker shadow-lg">
                    <li class="px-4 py-2 font-semibold text-white hover:bg-secondaryDarker2">Personas</li>
                    <li class="px-4 py-2 font-semibold text-white hover:bg-secondaryDarker2">Pacientes</li>
                    <li class="px-4 py-2 font-semibold text-white hover:bg-secondaryDarker2">Médicos</li>
                    <li class="px-4 py-2 font-semibold text-white hover:bg-secondaryDarker2">Especialidades</li>
                    <li class="px-4 py-2 font-semibold text-white hover:bg-secondaryDarker2">Consultorios</li>
                    <li class="px-4 py-2 font-semibold text-white hover:bg-secondaryDarker2">Módulos</li>
                    <li class="px-4 py-2 font-semibold text-white hover:bg-secondaryDarker2">Roles</li>
                </ul>
            </li>
        </ul>
    </nav>
</header>